body,
input,
button,
select,
textarea,
.navbar-search .search-query {
  	font-family: 'Lato', sans-serif; 
  	font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Nova Square', serif;
	font-weight: 400;
	line-height: 1.1;
	color: inherit;
}

a {
	color: #0a8c45;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	color: #087037;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center {
	margin: 0 auto;
	float: none;
}
.container {
	width: 100%;
	max-width: 940px;
	float: none;
	margin: 0 auto;
}

.col-lg-13 {
	width: 100%;
	padding: 0;
}

h3 {
	margin-bottom: 25px;
}

/*This is in place for the muted sub heads*/

.hero {
	background: url(hero33.jpg) no-repeat center center;
	/*photo cred: http://www.flickr.com/photos/stewtopia/4840152194/sizes/o/*/
	background-size: cover;
  	height: 600px;
}

.hero img{
	margin: 150px auto 0 auto;
}

.hero h3 {
	margin-top: 100px;
	color: white;
}

.hero h4 a {
	color: white;
}

.hero h4 a:hover {
	transition: color .5s ease;
	color: #0a8c45;
}

.col-lg-13 {
	width: 100%;
	padding: 0;
	position: relative;
	float: left;
}

.sticky {
	width: 100%;
	position: fixed;
	top: 0;
	margin-top: 0px;
	z-index: 1
}

.navbar-brand {
	font-size: 17px;
}

.navbar ul li a {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #777;
}

.navbar ul li a:hover {
	color: #474747;
}

.sticky .navbar>.container .navbar-brand{
	color: #E6E6E6;
}

.sticky .navbar>.container .navbar-brand:hover {
	color: white;
}

.sticky .navbar ul li a  {
	transition: color .25s ease;
	color: #E6E6E6;
}


.sticky .navbar ul li a:hover  {
	color: white;
	background-color: #087037;
}

.sticky .navbar {
	transition: background-color .5s ease;
	background-color: #0a8c45;
}

.navbar-default {
	border: none;
}
.navbar>.container .navbar-brand
{
	margin-left: 15px	
}
.navbar {
	border-radius: 0;
	min-height: 0;
	border: none;
}

.nav-justified>li>a {
	padding: 15px 0;
}

.spacer {
	width: 100px;
	height: 2px;
	background-color: #0a8c45;
	margin: 25px auto;
}

.about {
	padding: 150px 0;
}

.about p {
	margin: 20px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	text-align: justify;
}

.the-startups {
	background-color: #f7f7f7;
	padding: 150px 0;
}

.the-startups>header>h3 {
	margin-bottom: 5px;
}

.the-games {
	padding: 150px 0;
}

.press {
	padding: 150px 0;
	background-color: #f7f7f7;
}

.contact {
	padding: 150px 0 50px 0;
}